@font-face {
  font-family: "Guillon";
  font-weight: 100;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-Thin.otf");
}
@font-face {
  font-family: "Guillon";
  font-weight: 200;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-Light.otf");
}
@font-face {
  font-family: "Guillon";
  font-weight: 300;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-Regular.otf");
}
@font-face {
  font-family: "Guillon";
  font-weight: 400;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-Demi.otf");
}
@font-face {
  font-family: "Guillon";
  font-weight: 500;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-Bold.otf");
}
@font-face {
  font-family: "Guillon";
  font-weight: 600;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-Black.otf");
}
/*italiques*/
@font-face {
  font-family: "Guillon";
  font-weight: 100;
  font-style: italic;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-ThinItalic.otf");
}
@font-face {
  font-family: "Guillon";
  font-weight: 200;
  font-style: italic;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-LightItalic.otf");
}
@font-face {
  font-family: "Guillon";
  font-weight: 300;
  font-style: italic;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-RegularItalic.otf");
}
@font-face {
  font-family: "Guillon";
  font-weight: 400;
  font-style: italic;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-DemiItalic.otf");
}
@font-face {
  font-family: "Guillon";
  font-weight: 500;
  font-style: italic;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-BoldItalic.otf");
}
@font-face {
  font-family: "Guillon";
  font-weight: 600;
  font-style: italic;
  src: url("http://localhost:8888/comment_gagner/font/Guillon-BlackItalic.otf");
}
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 body {
   display: flex;
   width: 100%;
   overflow: hidden;
 }
@media only screen and (max-width: 736px){
  body {
    flex-direction: column-reverse;
  }
  #map {
    height: 50%;
    width: 100%;
  }
  #info {
    height: 50%;
    width: 100%;
  }
  #info h3 {
    width: calc(54% + 5%);
    margin-top: -15px;
  }
  #info h5 {
    width: calc(54% + 4%);
  }
  ul#députés {
    height: calc(100% - 150px);
  }
}
@media only screen and (min-width: 737px){
  body {
    flex-direction: row;
  }
  #map {
    height: 100%;
    width: 78%;
  }
  #info {
    height: 100%;
    width: 22%;
  }
  #info h3 {
    width: calc(94% + 5%);
  }
  #info h5 {
    width: calc(94% + 4%);
  }
}
#info {
  font-family: "Guillon";
  background-color: #f3f0ee;
  box-shadow: 0 0 6px 6px rgba(0,0,0,0.2);
  z-index: 100;
  padding: 5px;
}
#info h3 {
  text-align: right;
  color: #fff;
  background-color: #28347c;
  font-weight: 300;
  padding: 6px 10px 4px;
  margin-left: -5px;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);
  font-size: 1.1em;
  line-height: 1em;
}
#info h5 {
  text-align: right;
  color: #fff;
  background-color: #17173d;
  font-weight: 300;
  padding: 6px 10px 4px;
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.1);
  margin: -18px 0 10px -5px;
  z-index: -1;
  font-size: 1em;
  line-height: 1em;
}
p#polygon_stats {
  margin-top: 0;
  padding: 0 10px 0;
  line-height: 1em;
}
ul#députés {
  list-style-type: none;
  padding: 0 10px 0;
  height: calc(100% - 200px);
  overflow-y: scroll;
}
.depute_nom {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.1em;
}
.depute_circo {
  font-size: 0.9em;
}
ul#députés li{
    margin-bottom: 5px;
    border-left: 12px solid;
    padding-left: 10px;
    line-height: 1.4em;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
